#google{
    height:90px;
    width:90px;
}

#mar{
    color:lightseagreen;
    font-size:17px;
    font-family: sans-serif;
    font-weight:bold;
}
h3{
    color:lightsalmon;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.heading{
    font-size:31px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow:1px 1px black;
    font-weight:bolder;
    color:black;
    
}
h4{
    color:red;
    text-shadow:1px 1px red;
    font-size:25px;
    font-family:monospace;

}
.p_modal{
    color:black;
    font-size:16px;
    font-weight:bolder;
    font-family:cursive

}
h5{
    color:black;
    font-size:19px;
    font-weight:bolder
}
.head{
    background-image: url("https://i.pinimg.com/736x/2f/38/90/2f389094f6b446b31c38dc1ae16d4922.jpg");
    width:100%;
    background-size:cover
}
.bvd{
animation:example;
animation-duration: 5s;
animation-iteration-count: infinite;
color:black;
font-size:18px;
font-weight:bolder;
}
@keyframes example{
    from {box-shadow:1px 1px 38px red;}
    to {box-shadow:1px 1px 38px yellow;};

}
#vase{
    height:400px;
    width:370px;
    border-radius:70px;
    border:8px  solid black;
    border-style:ridge;
}
#output{
    color:black;
    font-size:22px;
    font-family:serif;
    font-weight:bolder;
    border-width:10px solid black;
 
  
}

    @media only screen and (max-width:1280px) {
        .info{
            background:linear-gradient(red 0%,orange 50%,yellow 100%);
            display:table-column;
  

       
  
    }
}
#result{
    color:black;
    font-size:22px;
    font-weight:bold;
    font-family: serif;;
}
.vasediv,.duckdiv{
    background-color:#d6d4ce;
    width:530px;
    border-radius:100px;
    animation:exam;
animation-duration: 5s;
animation-iteration-count: infinite;
margin-right:70px

}
@keyframes exam{
    from{box-shadow: 1px 1px 38px darkcyan;}
    to{box-shadow: 1px 1px 38px darkkhaki;}
}
.info{
    display:flex
}

.copy_right_footer {
    position: fixed;
    color: #ff0000;
    bottom: 0;
    width: 100%;
    background-color: yellow;
    line-height: 3;
    text-align: center;
      font-family: 'Special Elite', cursive;
 
 }
 ol h5
 {
     background: yellow;
     padding: 13px;
     border-radius: 20px;
 }
 span
 {
     color: orange;
     font-size: 16px;
 }	
 li img
 {
     border-radius: 20px;
 }
 .bob
 {
     background:rgb(0, 255, 0);
     padding: 30px;
     border-radius: 20px;
     margin-top: 50px;
     box-shadow: 5px 5px 18 red;
 }
 b
 {
     color: rgb(255, 0, 0);
 }
 
 .bob3
 {
     text-align: center;
     color: red;
 }
 .result
 {
     box-shadow: 5px 5px 18px ;
     letter-spacing: 2px;
     background: orange;
     border-radius: 20px;
     margin-top:30px;
     padding: 20px;
     border:2px solid rgb(0, 255, 0)
 }